<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
</head>

<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>

<div class="container-fluid" style="margin-top: 60px">
    <form class="form-horizontal" th:action="@{invoiceProcess/add}" th:method="POST"
          th:object="${invoiceProcess}">
        <div class="container-fluid">
            <div class="panel-group" id="accordion">
                <!--Lab tests and medical packages details -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-parent="#accordion" data-toggle="collapse"
                               href="#collapse1">
                                <b>Tests &amp; Medical Package </b> &nbsp;
                                <i class="fa fa-medkit" style="font-size:24px"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse1">
                        <div class="panel panel-body">
                            <!--lab Test table-->
                            <div class="col-sm-7">
                                <div class="container-fluid">
                                    <!--lab tests-->
                                    <div class="row">
                                        <table class="table table-striped table-condensed"
                                               id="myTable">
                                            <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Code</th>
                                                <th>Test Name</th>
                                                <th> Price (Rs.)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="labTest: ${labTests}">
                                                <th th:text="${labTest.id}"></th>
                                                <th th:text="${labTest.code}"></th>
                                                <th th:text="${labTest.name}"></th>
                                                <th th:text="${labTest.price}"></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--selected lab test show-->
                                <div class="row" id="labTestShowTable">
                                    <div class="container-fluid">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-sm-6 text-left text-capitalize"><span
                                                            id="selectedLabTestCount"></span>
                                                    </div>
                                                    <div class="col-sm-6 text-right text-capitalize"><span
                                                            id="totalPrice1"></span></div>
                                                </div>
                                            </div>
                                            <div class="panel panel-body">
                                                <div class="container-fluid">
                                                    <table class="table table-striped table-condensed"
                                                           id="myTableData">
                                                        <tr>
                                                            <th>Test id</th>
                                                            <th>Test Code</th>
                                                            <th>Test Name</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <!--medical Packages -->
                                <div class="row" id="medicalPackage">
                                    <h4 class="text-info text-capitalize text-center"><strong>select medical
                                        package </strong></h4>
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                               for="cmbMedicalPackage">Medical
                                            Package</label>
                                        <div class="col-md-7">
                                            <select class="form-control"
                                                    id="cmbMedicalPackage"
                                                    name="invoice.medicalPackage">
                                                <option th:each="medicalPackage : ${medicalPackages}"
                                                        th:text="${{medicalPackage.price}}+${' '}+${medicalPackage.name}"
                                                        th:value="${medicalPackage.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--medical package included lab test-->
                                <div class="row" id="medicalPackageDetails">
                                    <div class="container-fluid">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                <h4 class="text text-center">Included Test Count&nbsp;
                                                    &nbsp; <span
                                                            id="includedLabTestCount"></span>
                                                </h4>
                                            </div>
                                            <div class="panel panel-body">
                                                <div class="container-fluid">
                                                    <table class="table table-striped table-condensed text-center"
                                                           id="myMedicalPackageData">
                                                        <tr>
                                                            <th>Test Code</th>
                                                            <th>Test Name</th>
                                                            <th>Lab Test Done Here</th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Patient  1 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            <a data-parent="#accordion" data-toggle="collapse"
                               href="#collapse2">
                                <i class="fa fa-wheelchair"></i>
                                &nbsp; <b>Patient Details</b>
                            </a></h3>
                    </div>
                    <div class="panel-collapse collapse " id="collapse2">
                        <div class="panel-body">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <br/>
                                                <button class="btn btn-info" id="btnNewPatient" type="button">New <i
                                                        class="fa fa-wheelchair"></i></button>
                                            </div>
                                            <div class="col-sm-10" id="patientSearchContent">
                                                <div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label class="control-label"
                                                               for="patientFind">Select
                                                            Parameter</label>
                                                        <select class="form-control"
                                                                id="patientFind">
                                                            <option value="number"> Register No</option>
                                                            <option value="nic"> NIC No</option>
                                                            <option value="mobile"> Mobile No</option>
                                                            <option value="name"> Name</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label class="control-label"
                                                               for="patientFindValue">Enter
                                                            Value </label>
                                                        <input class="form-control" id="patientFindValue"
                                                               type="text"/>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 text-center">
                                                    <br/>
                                                    <button class="btn btn-info" id="btnSearchPatient">
                                                        <span class="glyphicon glyphicon-search"></span>&nbsp;Search
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" id="patientListDisplay">
                                            <div class="container-fluid">
                                                <!--                                            code taken form here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="patientContent">
                                <div class="container-fluid text-left col-sm-offset-2">
                                    <br/>
                                    <button class="btn btn-primary" id="btnRegisteredPatient" type="button">
                                        Registered
                                        <i class="fa fa-wheelchair"></i></button>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="form-group" id="newPatientID">
                                        <label class="control-label col-md-4" for="id">ID
                                            :</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="id"
                                                   name="patient.id"
                                                   placeholder="Enter ID Here" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="patientNumber">Number<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-3">
                                            <input class="form-control" id="patientNumber"
                                                   name="patient.number"
                                                   placeholder="Enter Number"
                                                   readonly required type="text"/>
                                        </div>
                                        <div class="col-sm-5 text-warning" id="previousNumber">
                                            <label class="control-label">Previous Number: <span
                                                    id="previousPatientNumber" th:text="${lastPatient}"></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                               for="title">Title</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="title"
                                                    name="patient.title">
                                                <option th:each="titles : ${title}"
                                                        th:text="${titles.title}"
                                                        th:value="${titles}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="patientName">Full
                                            Name<span class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="patientName"
                                                   name="patient.name"
                                                   placeholder="Enter Full Here" required
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                               for="nic">NIC</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="nic"
                                                   name="patient.nic"
                                                   placeholder="Enter NIC Here" type="text"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-center">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="dateOfBirth">Birth
                                            Date<span class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="dateOfBirth"
                                                   name="dateOfBirth" placeholder="Ex: 1990 - 01 - 20"
                                                   required type="date"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="gender">Gender</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="gender"
                                                    name="patient.gender">
                                                <option th:each="genders : ${gender}"
                                                        th:text="${genders.gender}"
                                                        th:value="${genders}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4"
                                               for="email">Email</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="email"
                                                   name="patient.email"
                                                   placeholder="Enter email Here" type="email"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="mobile">Mobile
                                            Number<span class="text-danger">*</span></label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="mobile"
                                                   name="patient.mobile"
                                                   placeholder="Enter Mobile Here" required
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="land">Land
                                            Number</label>
                                        <div class="col-md-8">
                                            <input class="form-control" id="land"
                                                   name="patient.land"
                                                   placeholder="Enter Land Here" type="text"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Doctor and Medical Package-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-parent="#accordion" data-toggle="collapse"
                               href="#collapse3">
                                <b>Doctor Details</b> &nbsp;<i class="fa fa-user-md"></i>&nbsp;
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse3">
                        <div class="panel-body">
                            <div class="row">
                                <!--Find doctor And New Doctor-->
                                <div class="col-sm-offset-2">
                                    <button class="btn btn-info" id="btnNewDoctor"
                                            type="button">New <i
                                            class="fa fa-user-md"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="container-fluid" id="systemDoctor">
                                        <label class="control-label col-sm-3" for="doctor">
                                            Doctor Name</label>
                                        <div class="col-sm-7">
                                            <select class="form-control" id="doctor"
                                                    name="doctor">
                                                <option th:each="doctor : ${doctors}"
                                                        th:text="${doctor.name} + ${'  -  '} + ${doctor.slmcNumber} + ${'  -  '} + ${doctor.mobile}+ ${'  -  '} + ${doctor.getConsultation().name}"
                                                        th:value="${doctor.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--New Doctor-->
                            <div class="row" id="newDoctor">
                                <div class="container-fluid">
                                    <div class="col-sm-offset-1">
                                        <button class="btn btn-primary" id="btnRegisterDoctor"
                                                type="button">Registered <i
                                                class="fa fa-user-md"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   th:for="title">Title</label>
                                            <div class="col-md-4">
                                                <select class="form-control"
                                                        name="doctor.title">
                                                    <option th:each="titles : ${title}"
                                                            th:text="${titles.title}"
                                                            th:value="${titles}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="fullName">Name</label>
                                            <div class="col-md-8">
                                                <input class="form-control" id="fullname"
                                                       name="doctor.name"
                                                       placeholder="Enter Full Here" required
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="cmbGender">Gender</label>
                                            <div class="col-md-4">
                                                <select class="form-control" id="cmbGender"
                                                        name="doctor.gender">
                                                    <option th:each="genders : ${gender}"
                                                            th:text="${genders.gender}"
                                                            th:value="${genders}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="doctorConsultation">Consultation</label>
                                            <div class="col-md-8">
                                                <select class="form-control"
                                                        id="doctorConsultation"
                                                        name="doctor.consultation">
                                                    <option th:each="consultation : ${consultations}"
                                                            th:text="${consultation.name}"
                                                            th:value="${consultation.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="slmcNumber">SLMC Number</label>
                                            <div class="col-md-8">
                                                <input class="form-control" id="slmcNumber"
                                                       name="doctor.slmcNumber"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="doctor.email">Email</label>
                                            <div class="col-md-8">
                                                <input class="form-control" id="doctor.email"
                                                       name="doctor.email"
                                                       placeholder="Enter email Here"
                                                       type="email"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="doctor.mobile">Mobile
                                                Number</label>
                                            <div class="col-md-8">
                                                <input class="form-control" id="doctor.mobile"
                                                       name="doctor.mobile"
                                                       placeholder="Enter Mobile Here"
                                                       type="text"
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="doctor.land">Land
                                                Number</label>
                                            <div class="col-md-8">
                                                <input class="form-control" id="doctor.land"
                                                       name="doctor.land"
                                                       placeholder="Enter Land Here"
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4"
                                                   for="description">Description</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" id="description"
                                                          name="doctor.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Collecting Center-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-parent="#accordion" data-toggle="collapse"
                               href="#collapse4">
                                <b>Collecting Center Details</b> &nbsp; <i
                                    class="fa fa-hospital-o"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse4">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="container-fluid">
                                        <label class="control-label col-sm-3" for="collectingCenter">Collecting
                                            Center</label>
                                        <div class="col-md-7">
                                            <select class="form-control" id="collectingCenter" name="collectingCenter">
                                                <option th:each="collectingCenters : ${collectingCenters}"
                                                        th:text="${collectingCenters.name} + ${' '} + ${collectingCenters.mobile} + ${' '} + ${collectingCenters.email}"
                                                        th:value="${collectingCenters.id}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Payment details-->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title text-center">
                            <a data-parent="#accordion" data-toggle="collapse"
                               href="#collapse5">
                                <b>Payment Details </b> &nbsp;<i class="fa fa-money"></i>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse5">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="totalPrice">Total
                                        Price</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="totalPrice"
                                               name="totalprice" readonly type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6"
                                           th:for="discountRatio">Discount
                                        Ratio</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="cmbDiscountRatio"
                                                name="discountRatio">
                                            <option th:each="discountRatio : ${discountRatios}"
                                                    th:text="${discountRatio.amount}"
                                                    th:value="${discountRatio.id}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6"
                                           for="amount">Amount</label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="amount"
                                               name="amount" readonly type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6"
                                           th:for="paymentMethod">Payment
                                        Method:</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="cmbPaymentMethod"
                                                name="paymentMethod">
                                            <option th:each="paymentMethod : ${paymentMethods}"
                                                    th:text="${paymentMethod.paymentMethod}"
                                                    th:value="${paymentMethod}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="cash">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-md-6"
                                           for="amountTendered">Amount
                                        Tendered
                                        (Rs.):</label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="amountTendered"
                                               placeholder="Enter Amount Here"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-md-6" for="balance">Balance
                                        (Rs.): <span
                                                class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="balance"
                                               readonly type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="card">
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="bankName">Bank:
                                        <span
                                                class="text-danger">*</span></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="bankName"
                                               name="bankName"
                                               placeholder="Enter Bank Name Here" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label col-sm-6" for="cardNumber">Number:
                                        <span
                                                class="text-danger">*</span></label>
                                    <div class="col-sm-6">
                                        <input class="form-control" id="cardNumber"
                                               name="cardNumber"
                                               placeholder="Enter Number"
                                               type="text"/><span id="typedLength"></span> &nbsp;<span
                                            id="cardType"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-offset-1 col-sm-3"
                                           for="remarks">Remarks: </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="remarks"
                                               name="remarks"
                                               placeholder="Enter Anything Special" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="col-sm-6 text-center">
                                        <button class="btn btn-success" type="submit"><span
                                                class="glyphicon glyphicon-print"></span>&nbsp;
                                            &nbsp;Print
                                        </button>
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <button class="btn btn-danger" type="reset"><span
                                                class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- information area - end -->
        <div class="container-fluid">
            <label th:if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
            <ul>
                <li class="error" th:each="err: ${#fields.errors('*')}"
                    th:text="${err}"></li>
            </ul>
        </div>
    </form>
</div>
<!--Invoice Processing Details - end -->
<footer class="page-footer" th:replace="fragments/footer"></footer>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script th:replace="fragments/script"></script>
<!--custom for invoice only-->
<script th:src="@{/js/invoice.js}"></script>
</body>
</html>