<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <!--front-awesome-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link href="../../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"
          type="text/css"/>
    <!--google fornt-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--table pagination-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>-->
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}"
          type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="../../static/css/myCss.css" rel="stylesheet" th:href="@{/css/myCss.css}" type="text/css"/>

    <!-- Bootstrap core CSS Downloaded file add-->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>

<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-info">
        <div class="panel-heading text-center"><h4>Invoice Processing</h4></div>
        <div class="panel panel-body">
            <div class="alert  alert-dismissable fade in" th:classappend="${alertStatus==true?'alert-info':'disabled'}">
                <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                <strong><span th:text="${message}"></span></strong>
            </div>
            <div class="container-fluid">
                <div class="tab-content" th:if="${labTestSelect==true}">
                    <!-- lab test finder - start  -->
                    <form class="form-horizontal" th:action="@{newInvoiceProcess/add}" th:method="POST"
                          th:object="${labTests}">
                        <div id="labTest">
                            <div class="row">
                                <div class="container-fluid">
                                    <table class="table table-striped table-condensed" id="myTable">
                                        <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>Code</th>
                                            <th>Test Name</th>
                                            <th th:if="${#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}">
                                                Department
                                            </th>
                                            <th th:if="${#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}">
                                                Sample Collecting Tube
                                            </th>
                                            <th> Price (Rs.)</th>
                                            <th th:if="${!#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}">
                                                Select Test
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="labTest, row : ${labTests}">
                                            <th th:text="${row.count}"></th>
                                            <th th:text="${labTest.code}"></th>
                                            <th th:text="${labTest.name}"></th>
                                            <th th:if="${#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}"
                                                th:text="${labTest.department.department}"></th>
                                            <th th:if="${#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}"
                                                th:text="${labTest.sampleCollectingTube}"></th>
                                            <th th:text="${labTest.price}"></th>
                                            <th th:if="${!#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')')}">
                                                <input class="select_all checkbox-round" name="labTests"
                                                       th:object="${labTests}" th:value="${labTest.id}" type="checkbox">
                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit"><span
                                    class="glyphicon glyphicon-menu-right"></span>&nbsp; &nbsp;Next
                            </button>
                        </div>
                        <!-- lab test finder - end  -->
                    </form>


                    <!-- Medical Package area - start -->
                    <div id="medicalPackageDetail" th:if="${medicalPackageSelect==true}">
                        <div class="form-group">
                            <label class="control-label col-md-4" th:for="medicalPackage">Medical Package</label>
                            <div class="col-md-4">
                                <select class="form-control" name="medicalPackage" th:filed="*{medicalPackage}">
                                    <option th:each="medicalPackage : ${medicalPackages}"
                                            th:text="${medicalPackage.name}+${' '}+${{medicalPackage.price}}"
                                            th:value="${medicalPackage.id}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Medical Package area - end -->

                    <!-- information area - start -->

                    <div th:if="${!#authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')') && patientSelect==true}">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="patient">Patient Name</label>
                                <div class="col-sm-1">
                                    <a target="_blank" th:href="@{patient/add}">
                                        <button class="btn btn-info" type="button">New <i class="fa fa-wheelchair"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" id="patient" name="patient" th:filed="*{patient}">
                                        <option class="text-center" th:each="patient : ${patients}"
                                                th:text="${patient.number} + ${'  -  '} + ${patient.name} + ${'  -  '} + ${patient.nic} + ${'  -  '} + ${patient.dateOfBirth}+ ${'  -  '} +${patient.email}"
                                                th:value="${patient.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="doctor">Doctor Name</label>
                                <div class="col-sm-1">
                                    <a target="_blank" th:href="@{doctor/add}">
                                        <button class="btn btn-info" type="button">New <i class="fa fa-user-md"></i>
                                        </button>
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <select class="form-control" id="doctor" name="doctor" th:filed="*{doctor}">
                                        <option th:each="doctor : ${doctors}"
                                                th:text="${doctor.name} + ${'  -  '} + ${doctor.slmcNumber} + ${'  -  '} + ${doctor.mobile}+ ${'  -  '} + ${doctor.getConsultation().name}"
                                                th:value="${doctor.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" th:for="collectingCenter">Collecting
                                    Center</label>
                                <div class="col-sm-1"></div>
                                <div class="col-md-7">
                                    <select class="form-control" name="collectingCenter" th:filed="*{collectingCenter}">
                                        <option th:each="collectingCenters : ${collectingCenters}"
                                                th:text="${collectingCenters.name} + ${' '} + ${collectingCenters.mobile} + ${' '} + ${collectingCenters.establishedDate}"
                                                th:value="${collectingCenters.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" for="totalPrice">Total Price</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="totalPrice" name="totalprice"
                                           placeholder="Enter Full Here" th:filed="*{totalprice}" type="text"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" th:for="discountRatio">Discount Ratio</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="discountRatio" name="discountRatio"
                                            onchange="" th:filed="*{discountRatio}">
                                        <option th:each="discountRatio : ${discountRatios}"
                                                th:text="${discountRatio.amount}"
                                                th:value="${discountRatio.id}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" for="amount">Amount</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="amount" name="amount" placeholder="Enter Full Here"
                                           th:field="*{amount}" type="text"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" th:for="paymentMethod">Payment Method:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="paymentMethod" name="paymentMethod"
                                            th:filed="*{paymentMethod}">
                                        <option th:each="paymentMethod : ${paymentMethods}"
                                                th:text="${paymentMethod.paymentMethod}"
                                                th:value="${paymentMethod}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-md-6" for="amountTendered">Amount Tendered
                                    (Rs.):</label>
                                <div class="col-md-6">
                                    <input class="form-control" id="amountTendered" placeholder="Enter Amount Here"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-md-6" for="balance">Balance (Rs.): <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-6">
                                    <input class="form-control" id="balance" placeholder="Enter Amount Here"
                                           type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="card">
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" for="bankName">Bank: <span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="bankName" name="bankName"
                                           placeholder="Enter Bank Name Here" type="text"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label col-sm-6" for="cardNumber">Number: <span
                                        class="text-danger">*</span></label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="cardNumber" name="cardNumber" placeholder="Cheque Number"
                                           type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-offset-1 col-sm-3" for="remarks">Remarks: </label>
                                <div class="col-md-6">
                                    <input class="form-control" id="remarks" name="remarks"
                                           placeholder="Enter Anything Special" th:filed="*{remarks}" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- information area - end -->

                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer" th:replace="fragments/footer"></footer>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script th:replace="fragments/script"></script>

</body>
</html>