<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h3><span th:text="${date}"></span>&nbsp;Summary</h3>
        </div>
        <div class="container text-center">
            <div class="panel panel-body">
                <div class="row">
                    <div class="container-fluid text-center" th:if="${alertStatus==true}">
                        <div class="alert alert-danger alert-dismissable fade in">
                            <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                            Please enter two date to requested field otherwise there is no way to fulfil your
                            requirement.
                        </div>
                    </div>
                </div>
                <div class="container-fluid"
                     th:if="${#authorization.expression('hasRole(''ROLE_MLT1'')') || #authorization.expression('hasRole(''ROLE_MANAGER'')')}">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container-fluid text-center">
                                    <h4 class="text-info"><b> Custom Search</b></h4>
                                    <form class="form-inline" th:action="@{/process/searchSummary}" th:method="POST">
                                        <div class="form-group">
                                            <label for="startDate">FROM :</label>
                                            <input class="form-control" id="startDate" name="startDate" type="date"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="endDate">TO :</label>
                                            <input class="form-control" id="endDate" name="endDate" type="date"/>
                                        </div>
                                        <button class="btn btn-success" id="btnSummaryFind" type="submit"><span
                                                class="glyphicon glyphicon-search"></span>&nbsp;Search
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" th:if="${#authorization.expression('hasRole(''ROLE_MLT1'')') || #authorization.expression('hasRole(''ROLE_MANAGER'')') || #authorization.expression('hasRole(''ROLE_CASHIER'')')}">
                    <div class="row" id="summary">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container-fluid">
                                    <div class="col-sm-6"><h4> Date : <span th:text="${{date}}"></span></h4></div>
                                    <div class="col-sm-6"><h4> User : <span th:text="${user}"></span></h4></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <div class="table-responsive">
                                        <table class="table  table-striped table-condensed table-bordered">
                                            <caption class="text-center text-primary"><b><i><span
                                                    th:text="${givenDate}"></span>&nbsp;
                                                COLLECTION REPORT</i></b></caption>
                                            <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Price (Rs.)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="text-info">
                                                <th>LAB INVESTIGATIONS COLLECTION</th>
                                                <th class="text-right"><span th:text="${{labCollection}}"></span></th>
                                            </tr>
                                            <tr class="text-info">
                                                <th>MEDICAL PACKAGES COLLECTION</th>
                                                <th class="text-right"><span
                                                        th:text="${{medicalPackageCollection}}"></span>
                                                </th>
                                            </tr>
                                            <tr class="text-primary">
                                                <th>TOTAL COLLECTION</th>
                                                <th class="text-right"><span th:text="${{totalCollection}}"></span></th>
                                            </tr>
                                            <tr class="text-warning">
                                                <th>DISCOUNT COLLECTION</th>
                                                <th class="text-right"><span th:text="${{discountedAmount}}"></span>
                                                </th>
                                            </tr>
                                            <tr class="text-warning">
                                                <th>REFUND COLLECTION</th>
                                                <th class="text-right"><span th:text="${{totalRefund}}"></span></th>
                                            </tr>
                                            <tr class="text-info">
                                                <th>TOTAL CASH COLLECTION</th>
                                                <th class="text-right"><span th:text="${{totalCash}}"></span></th>
                                            </tr>
                                            <tr class="text-info">
                                                <th>TOTAL CARD & CHEQUE COLLECTION</th>
                                                <th class="text-right"><span th:text="${{totalCard}}"></span></th>
                                            </tr>
                                            <tr class="text-success">
                                                <th>CASH TO BE DEPOSITED</th>
                                                <th class="text-right"><span th:text="${{needToDeposit}}"></span></th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid" th:if="${print==true}">
                            <button class="btn btn-success" onclick="printContent('summary')"><span
                                    class="glyphicon glyphicon-print"></span>&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid "
                     th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')||#authorization.expression('hasRole(''ROLE_MLT2'')') ||#authorization.expression('hasRole(''ROLE_MLT1'')') || #authorization.expression('hasRole(''ROLE_PHLEBOTOMISE'')') }">
                    <div class="row" id="workLoad">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="table-responsive">
                                <table class="table table-striped table-condensed table-bordered">
                                    <caption class="text-center text-primary"><b><i><span
                                            th:text="${givenDate}"></span>&nbsp;
                                        WORK LOAD REPORT</i></b></caption>
                                    <thead>
                                    <tr class="text-center">
                                        <th>Item</th>
                                        <th>Count</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="text-info">
                                        <th>Invoiced Count</th>
                                        <th class="text-right" th:text="${{invoicedCount}}"></th>
                                    </tr>
                                    <tr class="text-info">
                                        <th>Patient Count</th>
                                        <th class="text-right" th:text="${{patientCount}}"></th>
                                    </tr>
                                    <tr class="text-info">
                                        <th>Medical Package Count</th>
                                        <th class="text-right" th:text="${medicalPackageCount}"></th>
                                    </tr>
                                    <tr class="text-success">
                                        <th>Total Investigation Count</th>
                                        <th class="text-right" th:text="${{investigationCount}}"></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid" th:if="${print==true}">
                            <button class="btn btn-success" onclick="printContent('workLoad')"><span
                                    class="glyphicon glyphicon-print"></span>&nbsp;Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>