<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h3>Find Patient</h3>
        </div>
        <div class="panel panel-body">
            <div class="container-fluid" th:if="${searchStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span
                            th:text="${invoiceNumber}"></span></strong> There was no investigation to take sample !</h4>
                </div>
            </div>
            <div class="container-fluid" th:if="${sampleCollectStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span
                            th:text="${invoiceNumber}"></span></strong> You did not take any sample for the patient!</h4>
                </div>
            </div>
            <div class="container-fluid" th:if="${repeatSampleStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span
                            th:text="${invoiceNumber}"></span></strong> We can not take other sample free.<br/> Because
                        patient test is already done!</h4>
                </div>
            </div>
            <div class="container">
                <form class="form-inline text-center"
                      th:action="${addStatus==true?'/phlaboto/searchPatient':'/phlaboto/repeatSamplePatient'}"
                      th:method="POST" th:object="${searchProcess}">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="row">
                                <label class="col-sm-5" th:for="invoiceId">Invoice Number : </label>
                                <input class="form-control col-sm-7" id="invoiceNumber" name="number"
                                       placeholder="Enter invoice number" required
                                       type="text"/>
                            </div>
                        </div>
                        <div class="col-sm-5" th:if="${repeatCollectStatus==true}">
                            <div class="row">
                                <label class="col-sm-5" th:for="invoiceId">Lab Test Code :</label>
                                <input class="form-control col-sm-7" id="code" name="code"
                                       placeholder="Enter Lab Test Code"
                                       required
                                       type="text"/>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;
                            &nbsp;Find
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>