<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header" style="margin-bottom: 60px"></nav>
<div class="container-fluid" style="margin-top: 50px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h3>Find Patient</h3>
        </div>
        <div class="panel panel-body">
            <div class="container-fluid" th:if="${searchStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span th:text="${invoiceId}"></span></strong> There was no investigation to take sample !</h4>
                </div>
            </div>
            <div class="container-fluid" th:if="${sampleCollectStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span th:text="${invoiceId}"></span></strong> You did not take any sample for the patient!</h4>
                </div>
            </div>
            <div class="container-fluid" th:if="${repeatSampleStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h4 class="text-center"> According to this <strong class="text-danger">Invoice Number :&nbsp;<span th:text="${invoiceId}"></span></strong> We can not take other sample free.<br/> Because patient test is already done!</h4>
                </div>
            </div>
            <div class="container-fluid">
                <form class="form-horizontal"  th:action="${addStatus==true?'/phlaboto/searchPatient':'/phlaboto/repeatSamplePatient'}" th:object="${searchProcess}" th:method="POST">
                    <div class="form-group col-sm-6">
                        <label th:for="invoiceId" class="col-sm-3">Invoice Number :</label>
                        <div class="col-sm-6">
                            <input type="text"  placeholder="Enter invoice number" class="form-control" name="id" required/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" th:if="${repeatCollectStatus==true}">
                        <label th:for="invoiceId" class="col-sm-3">Lab Test Code :</label>
                        <div class="col-sm-6">
                            <input type="text"  placeholder="Enter Lab Test Code" class="form-control" name="code" id="code" required/>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit" > <span class="glyphicon glyphicon-search"></span>&nbsp; &nbsp;Find</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>