<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Bootstrap core CSS Downloaded file add-->
<!--front-awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" type="text/css"  media="all">


<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"  media="all"/>
<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" type="text/css"  media="all"/>


<!--google font-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css"  media="all"/>

<!--table pagination-->
<link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" type="text/css"  media="all"/>
<!-- Custom styles for this template -->
<link rel="stylesheet" th:href="@{/css/myCss.css}"  type="text/css" />

<!--textarea provider-->
<link rel="stylesheet" th:href="@{/css/editor/minified/themes/modern.css}"  type="text/css"  media="all"/>


