<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap core CSS Downloaded file add-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />

<!--front-awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" href="../../static/css/font-awesome.min.css"/>-->
<!--google fornt-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--table pagination-->
<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>-->
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.min.css}" href="../../static/css/dataTables.bootstrap.min.css"/>
<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" th:href="@{/css/myCss.css}" href="../../static/css/myCss.css"/>

<!--textarea prvider-->
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>


