<!DOCTYPE>
    <html  xmlns:th="http://www.thymeleaf.org">
<head>  </head>
<body>
    <div class="col-sm-12 container-fluid" th:fragment="labHeader">
        <div class="text-center">
        <h4 class="loginp">
          <b>
          Enter Test Result
          </b>
        </h4>
      </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
            <h4 for="invoiceNumber">Invoice Number : </h4>
                <p class="form-control"> EHC18000000</p>
          </div>
          <div class="col-sm-6">
            <h4 for="sampleCollectDate">Patient Name :</h4>
            <p class="form-control">Mr.P R D K Ranasinghe</p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4 for="ptName">Age :</h4>
                  <p class="form-control">Mr.P R D K Ranasinghe</p>
          </div>
          <div class="col-sm-6">
                <h4 for="sampleCollectTime">Sample Collected Date Time :</h4>
                <p class="form-control">Mr.P R D K Ranasinghe</p>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            <h4 for="refDoct">Mobile Number:</h4>
            <p class="form-control">Dr. W J R Fernando</p>
          </div>
          <div class="col-sm-6">
             <h4 for="resuEnterDate">Land Number :</h4>
              <p class="form-control">Mr.P R D K Ranasinghe</p>
          </div>
         </div>
        <div class="row">
          <div class="col-sm-6">
            <h4  for="refDoct">Reference Doctor :</h4>
            <p class="form-control">Dr. W J R Fernando</p>
          </div>
          <div class="col-sm-6">
            <h4 for="resuEnterDate">Mobile Number :</h4>
            <p class="form-control">Mr.P R D K Ranasinghe</p>
          </div>
        </div>
    </div>
<!--Result enter sheet's header area - end-->
    </div>
</body>
</html>