<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <title>EHSL - List</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>
    <div class="container-fluid" style="margin-top: 60px">

        <div class="alert alert-primary" role="alert">
            <strong>Warning!</strong> <a href="#" class="alert-link"></a>
        </div>

    </div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
<script th:src="@{/js/invoice.js}"></script>
</body>
</html>