<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8"/>
 <title>EHSL</title>
 <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header" style="margin-bottom: 60px"></nav>
<div class="container-fluid" style="margin-top: 60px">
 <div class="panel panel-primary">
  <div class="panel panel-heading text-center">
   <h4><b><i>Make Invoice</i></b></h4>
  </div>
  <div class="panel panel-body">
   <div class="col-sm-offset-5">
    <a href="/cashier/invoiceLabFrom">
     <button class="btn btn-info btn-sm"> <i class="material-icons"  style="font-size:18px;">search</i> Lab Test</button>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/cashier/medicalPackageFrom">
     <button class="btn btn-sm btn-info">  <i class="material-icons" style="font-size:18px;">search</i> Package</button>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
   <div class="container-fluid col-sm-6 text-center" th:if="${labTestAlert==true}">
    <div class="alert  alert-dismissable fade in text-center" th:classappend="${alertStatus==true?'alert-info':'disabled'}">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     <strong><span th:text="${message}"></span></strong>
    </div>
   </div>
   <!--lab test finder start-->
   <div class="container-fluid" th:if="${labTestFinder==true}">
    <form th:action="${invoiceLabFrom}" th:object="${invoiceProcess}" method="POST">
     <!-- lab test finder - start  -->
     <div class="row" >
      <div class="container-fluid">
       <table class="table table-striped table-condensed" id="myTable">
        <thead>
        <tr>
         <th>Index</th>
         <th>Code</th>
         <th>Test Name</th>
         <th> Price (Rs.) </th>
         <th>Select Test</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="labTest, row : ${labTests}">
         <th th:text="${row.count}"></th>
         <th th:text="${labTest.code}"></th>
         <th th:text="${labTest.name}"></th>
         <th th:text="${labTest.price}"></th>
         <th><input class="select_all" type="checkbox" th:object="${labTests}" th:value="${labTest.id}" name="labTests" > </th>
        </tr>
        </tbody>
       </table>
      </div>
     </div>
     <!-- lab test finder - end  -->
     <div class="text-center" >
      <button class="btn btn-success" type="submit" > <span class="glyphicon glyphicon-ok"></span>&nbsp; &nbsp;Add </button>
     </div>
    </form>

   </div>
   <!--lab test finder is finished-->
   <!--medical Package finder - start-->
   <div class="container-fluid" th:if="${medicalPackageFinder==true}">
    <form th:action="${'/cashier/addMedicalPackageFrom'}" th:object="${searchProcess}" method="POST">
     <div  class="form-group col-sm-offset-4">
      <label class="control-label col-md-2" th:for="medicalPackage">Medical Package</label>
      <div class="col-md-4">
       <select name="id" class="form-control">
        <option th:each="medicalPackage : ${medicalPackages}"
                th:text="${medicalPackage.name}+${' '}+${{medicalPackage.price}}"
                th:value="${medicalPackage.id}"></option>
       </select>
      </div>
     </div>
     <div class="text-center" >
      <button class="btn btn-success" type="submit" > <span class="glyphicon glyphicon-open"></span>&nbsp; &nbsp;Show</button>
     </div>
    </form>
   </div>
   <!--medical package details - start-->
   <div class="container-fluid" th:object="${medicalPackageDetail}" th:if="${medicalPackageDetails==true}">
    <div class="row">
     <div class="container-fluid">
      <h3> Medical Package Name :
       <span th:text="${medicalPackageDetail.name}"></span>
      </h3>
     </div>
    </div>
    <div class="row">
     <div class="container-fluid">
      <h3>Price :
       <span th:text="${medicalPackageDetail.price}"></span>
      </h3>
     </div>
    </div>
    <div class="row">
     <div class="container-fluid">
      <label>Contain Laboratory Test :
       <ol>
        <li th:each="labTest : ${medicalPackageDetail.labTests}" th:text="${labTest.name}"></li>
       </ol>
      </label>
     </div>
    </div>
    <div class="row" th:if="${buttonStatus==true}" >
     <div class="container-fluid text-center">
      <a th:href="${'/cashier/medicalPackageAdd/'+ medicalPackageDetail.id}">
       <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp; Add</button>
      </a>
     </div>
    </div>
   </div>
   <!--medical package details - end-->
   <!--medical Package finder - end-->

   <!--information filed fro lab test - start-->
   <div class="container-fluid" th:if="${invoiceInformation==true}" style="margin-top: 15px;">
    <div class="row">
     <form class="form-horizontal"  th:action="@{saveInvoice}" th:object="${invoiceProcess}" th:method="POST">
      <!-- information area - start -->
      <div id="information" class="container-fluid" >
       <div class="row">
        <div  class="form-group">
         <label class="control-label col-sm-3" for="patient">Patient Name</label>
         <div class="col-sm-1" >
          <a href="/patient/add" target="_blank"><button type="button" class="btn btn-info" >New <i class="fa fa-wheelchair"></i></button></a>
         </div>
         <div class="col-md-7">
          <select id="patient" th:filed="*{patient}" name="patient"  class="form-control">
           <option class="text-center" th:each="patient : ${patients}"
                   th:text="${patient.number} + ${'  -  '} + ${patient.name} + ${'  -  '} + ${patient.nic} + ${'  -  '} + ${patient.dateOfBirth}+ ${'  -  '} +${patient.email}"
                   th:value="${patient.id}"></option>
          </select>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="email">Patient NIC :</label>
         <div class="col-sm-6">
          <input type="text" class="form-control" id="email" name="patient">
         </div>
        </div>
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="nic">Patient Code :</label>
         <div class="col-sm-6">
          <input type="text" class="form-control" id="nic" name="patient">
         </div>
        </div>
       </div>
       <div  class="form-group">
        <label class="control-label col-sm-3" for="doctor">Doctor Name</label>
        <div class="col-sm-1">
         <a href="/doctor/add" target="_blank"><button type="button" class="btn btn-info">New <i class="fa fa-user-md"></i></button></a>
        </div>
        <div class="col-md-7">
         <select id="doctor" name="doctor" th:filed="*{doctor}" class="form-control">
          <option th:each="doctor : ${doctors}"
                  th:text="${doctor.name} + ${'  -  '} + ${doctor.slmcNumber} + ${'  -  '} + ${doctor.mobile}+ ${'  -  '} + ${doctor.getConsultation().name}"
                  th:value="${doctor.id}"></option>
         </select>
        </div>
       </div>
       <div class="form-group">
        <label class="control-label col-sm-3" th:for="collectingCenter">Collecting Center</label>
        <div class="col-sm-1"></div>
        <div class="col-md-7">
         <select name="collectingCenter" th:filed="*{collectingCenter}" class="form-control">
          <option th:each="collectingCenters : ${collectingCenters}"
                  th:text="${collectingCenters.name} + ${' '} + ${collectingCenters.mobile} + ${' '} + ${collectingCenters.establishedDate}"
                  th:value="${collectingCenters.id}"></option>
         </select>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="totalprice">Total Price</label>
         <div class="col-sm-6">
          <input type="text" id="totalPrice" placeholder="Enter Full Here" th:value="${totalPrice}" class="form-control" name="totalprice" />
         </div>
        </div>
        <div  class="form-group col-sm-6">
         <label class="control-label col-sm-6" th:for="discountRatio">Discount Ratio</label>
         <div class="col-sm-6">
          <select th:filed="*{discountRatio}" id="discountRatio"  name="discountRatio" class="form-control">
           <option th:each="discountRatio : ${discountRatios}"
                   th:text="${discountRatio.amount}"
                   th:value="${discountRatio.id}"></option>
          </select>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="amount">Amount</label>
         <div class="col-sm-6">
          <input type="text" id="amount" placeholder="Enter Full Here" class="form-control" name="amount" th:field="*{amount}"/>
         </div>
        </div>
        <div  class="form-group col-sm-6">
         <label class="control-label col-sm-6" th:for="paymentMethod">Payment Method:</label>
         <div class="col-sm-6">
          <select th:filed="*{paymentMethod}" id="paymentMethod" name="paymentMethod" class="form-control">
           <option th:each="paymentMethod : ${paymentMethods}"
                   th:text="${paymentMethod.paymentMethod}"
                   th:value="${paymentMethod}"></option>
          </select>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-md-6" for="amountTendered">Amount Tendered (Rs.):</label>
         <div class="col-md-6">
          <input type="text" id="amountTendered" placeholder="Enter Amount Here" class="form-control"/>
         </div>
        </div>
        <div class="form-group col-sm-6">
         <label class="control-label col-md-6" for="balance">Balance (Rs.): <span class="text-danger">*</span></label>
         <div class="col-md-6">
          <input type="text" id="balance" placeholder="Enter Amount Here" class="form-control" />
         </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="bankName">Bank: <span class="text-danger">*</span></label>
         <div class="col-sm-6">
          <input type="text" id="bankName" placeholder="Enter Bank Name Here" class="form-control" name="bankName" />
         </div>
        </div>
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="cardNumber">Number: <span class="text-danger">*</span></label>
         <div class="col-sm-6">
          <input type="text"  id="cardNumber" class="form-control" name="cardNumber" placeholder="Cheque Number" />
         </div>
        </div>
       </div>
       <div class="row">
        <div class="form-group col-sm-6">
         <label class="control-label col-sm-6" for="bankName">Bank: <span class="text-danger">*</span></label>
         <div class="col-sm-6">
          <input type="text"  placeholder="Enter Anything Special" class="form-control" name="remarks" th:filed="*{remarks}"/>
         </div>
        </div>
        <div class="form-group col-sm-6">
         <label class="control-label col-md-4" th:for="medicalPackage">Medical Package</label>
         <div class="col-md-4">
          <select th:filed="*{medicalPackage}" name="medicalPackage" class="form-control">
           <option th:each="medicalPackage : ${medicalPackages}"
                   th:text="${medicalPackage.name}+${' '}+${{medicalPackage.price}}"
                   th:value="${medicalPackage.id}"></option>
          </select>
         </div>
        </div>
       </div>
       <div class="row">
        <div class="text-center" >
         <button class="btn btn-success" type="submit" > <span class="glyphicon glyphicon-print"></span>&nbsp; &nbsp;Print</button>
        </div>
       </div>
       <!-- information area - end -->
     </form>
    </div>

   </div>

   <!--information filed fro lab test - end-->

  </div>
  <!--panel div-->
 </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
<scrip>
 $(document).ready(function () {






 });
</scrip>
</body>
</html>