<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>EHSL - List</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <embed src="http://localhost:8090/invoiceProcess/add" type="application/pdf">
    <embed th:src="${fileName}" width="500" height="375" type='application/pdf'>
<span th:text="${fileName}"></span>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
<script th:src="@{/js/invoice.js}"></script>
</body>
</html>