<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
    <script th:src="@{/js/labValidation.js}"></script>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/header :: header" style="margin-bottom: 60px"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center" th:if="${addLabSampleCollect==true}"><h4>Sample Collected List</h4></div>
           <div class="container-fluid" th:if="${addLabSampleCollect==true}">
               <div class="text-left col-sm-6"><a href="/home"><button class="btn btn-info"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</button></a></div>
               <div class="text-right col-sm-6"><a href="/lab/sampleWorksheetPrinted"><button class="btn btn-info">Result Enter <i class="fa fa-medkit"></i></button></a></div>
        </div>
        <div class="panel panel-heading text-center" th:if="${addLabTestWorkStatus==true}"><h4>Worksheet Printed List</h4></div>
            <div class="container-fluid " th:if="${addLabTestWorkStatus==true}">
               <div class="text-left col-sm-6"><a href="/lab/sampleCollect"><button class="btn btn-info">Work Sheet <i class="fa fa-pencil-square-o"></i></button></a></div>
               <div class="text-right col-sm-6"><a href="/home"><button class="btn btn-info"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</button></a></div>
        </div>
        <div class="panel panel-heading text-center" th:if="${addLabTestResultEnter==true}"><h4>Result Entered List</h4></div>
            <div class="container-fluid" th:if="${addLabTestResultEnter==true}">
                <div class="text-left col-sm-6"><a href="/lab/sampleWorksheetPrinted"><button class="btn btn-info">Result Enter <i class="fa fa-medkit"></i></button></a></div>
                <div class="text-right col-sm-6"><a href="/home"><button class="btn btn-info"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</button></a></div>
            </div>
        
        <div class="panel panel-heading text-center" th:if="${addLabTestAuthorized==true}"><h4>Authorized List</h4></div>
            <div class="container-fluid" th:if="${addLabTestAuthorized==true}">
                <div class="text-left col-sm-6"><a href="/lab/sampleWorksheetPrinted"><button class="btn btn-info">Result Enter <i class="fa fa-medkit"></i></button></a></div>
                <div class="text-right col-sm-6"><a href="/home"><button class="btn btn-info"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</button></a></div>
            </div>
        
        <div class="panel panel-heading text-center" th:if="${addLabTestPrint==true}"><h4>Printed List</h4></div>
            <div class="container-fluid" th:if="${addLabTestPrint==true}">

        </div>
        <div class=" panel panel-body">
            <div class="alert alert-success alert-dismissable text-center" th:if="${!#lists.isEmpty(invoiceHasLabtest)}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Congratulation ! <i class="fa fa-heartbeat" style="font-size:18px;color:green"></i></strong> There is no work now.
            </div>
            <div class="container-fluid" th:if="${sampleWorkSheetPrintStatus==true}">
                <div class="alert alert-warning alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h4 class="text-center"> You did not select any patient to take work sheet </h4>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(invoiceHasLabtest)}" class="container-fluid">
                <form class="form" id="workSheet" th:action="@{/lab/workSheetPatient}" th:object="${searchProcess}" th:method="POST">
                    <div class="container-fluid">
                        <table class="table table-striped table-condensed" id="myTable">
                            <thead>
                            <tr>
                                <th>Index</th>
                                <th>Lab Refference </th>
                                <th>Patient Name</th>
                                <th th:if="${noNeed==true || addLabSampleCollect==true }">Test Name</th>
                                <th th:if="${addLabSampleCollect==true}"> Sample Collecting Time </th>
                                <th th:if="${addLabTestWorkStatus==true}"> WorkSheet Taken Time </th>
                                <th th:if="${addLabTestResultEnter==true}"> Result Enter Time </th>
                                <th th:if="${noNeed==true}"> Report Authorized Time </th>
                                <th th:if="${addLabTestPrint==true}"> Report Printed Time </th>
                                <th> Action </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="invoiceHasLabTests, row : ${invoiceHasLabTest}">
                                <th th:text="${row.count}"></th>
                                <th th:text="${invoiceHasLabTests.id}"></th>
                                <th th:if="${noNeed==true || addLabTestWorkStatus==true || addLabSampleCollect==true || addLabTestResultEnter==true }"
                                    th:text="${invoiceHasLabTests.invoice.patient.title.title} +${' '}+${invoiceHasLabTests.invoice.patient.name}"></th>
                                <th th:text="${invoiceHasLabTests.patient.title.title}+${' '}+${invoiceHasLabTests.patient.name}" th:if="${addLabTestAuthorized==true}"></th>
                                <th th:text="${invoiceHasLabTests.labTest.name}" th:if="${noNeed==true || addLabSampleCollect==true }"></th>
                                <th th:if="${addLabSampleCollect==true}" th:text="${{invoiceHasLabTests.sampleCollectedDateTime}}" ></th>
                                <th th:if="${addLabTestWorkStatus==true}" th:text="${{invoiceHasLabTests.workSheetTakenDateTime}}" ></th>
                                <th th:if="${addLabTestResultEnter==true}" th:text="${{invoiceHasLabTests.resultEnteredDateTime}}" ></th>
                                <th th:if="${noNeed==true}" th:text="${{invoiceHasLabTests.reportAuthorizeDateTime}}" ></th>
                                <th th:if="${addLabTestPrint==true}"
                                    th:text="${{invoiceHasLabTests.reportPrintedDateTime}}"></th>
                                <th><input th:if="${inputStatus==true}"  type="checkbox" th:object="${invoiceHasLabTests}" class="text-info testCheckbox" th:value="${invoiceHasLabTests.id}" name="invoiceHasLabTests" >
                                    <a th:if="${addLabTestWorkStatus==true}" th:href="${'/lab/labTestResultEnterForm/' + invoiceHasLabTests.id}"> <button type="button"  class="btn btn-success" ><i class="fa fa-folder-open"></i>&nbsp;View </button> </a>
                                    <a th:if="${addLabTestResultEnter==true}" th:href="${'/lab/authorize/labTestAuthorizedForm/' + invoiceHasLabTests.id}"> <button type="button"  class="btn btn-success" ><i class="fa fa-folder-open"></i>&nbsp;View </button> </a>
                                    <a th:if="${addLabTestAuthorized==true}" th:href="${'/lab/labTestPrintForm/' + invoiceHasLabTests.id}"> <button type="button"  class="btn btn-success" ><i class="fa fa-folder-open"></i>&nbsp;View </button> </a>
                                    <a th:if="${addLabTestPrint==true}" th:href="${'/lab/' + invoiceHasLabTests.id}"> <button  class="btn btn-success"> <span class="glyphicon glyphicon-open-file"> </span><b>&nbsp;&nbsp;Open to&nbsp;&nbsp;<span class="glyphicon glyphicon-print"> </span> </b></button></a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                        <div class="row text-center" th:if="${buttonStatus==true}">
                            <div class="alert alert-warning alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <h4 class="text-center"> &nbsp;<i class="material-icons" style="font-size:16px; color:red">warning</i> Select ALL check box which is needed to work sheet.  </h4>
                            </div>
                            <button id="btnSubmit" class="btn btn-success" type="submit" > Click to &nbsp;&nbsp;<span class="glyphicon glyphicon-print"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>