<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>EHSL</title>
    <style th:replace="fragments/style"></style>
</head>
<body>
<nav class="navbar navbar-default" style="margin-bottom: 60px" th:replace="fragments/header :: header"></nav>
<div class="container-fluid" style="margin-top: 60px">
    <div class="panel panel-primary">
        <div class="panel panel-heading text-center">
            <h4><b><span
                    th:text="${addStatus==true?'Enter Laboratory Test Result':'Authorized Laboratory Test Result'}"></span></b>
            </h4>
        </div>
        <div class="panel panel-body">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="text-left col-sm-6"><a href="/home">
                        <button class="btn btn-info"><span class="glyphicon glyphicon-home"></span>&nbsp; Home</button>
                    </a></div>
                    <div class="text-right col-sm-6"><a href="/lab/worksheetPrinted">
                        <button class="btn btn-info">Need Enter <i class="fa fa-medkit"></i></button>
                    </a></div>
                    &nbsp;
                    &nbsp;
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2">Patient Name :</label>
                    <div class="col-sm-2">
                        <input class="form-control"
                               readonly="readonly"
                               th:value="${invoiceHasLabTest.invoice.patient.title.title} +${'  '}+${invoiceHasLabTest.invoice.patient.name}"
                               type="text"/>
                    </div>
                    <label class="control-label col-sm-2">Mobile Number :</label>
                    <div class="col-sm-2">
                        <input class="form-control" readonly="readonly"
                               th:value="${invoiceHasLabTest.invoice.patient.mobile}"
                               type="text"/>
                    </div>
                    <label class="control-label col-sm-2">Patient Age :</label>
                    <div class="col-sm-2">
                        <input class="form-control" readonly="readonly" th:value="${patientAge}" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Doctor Name :</label>
                    <div class="col-sm-2">
                        <input class="form-control"
                               readonly="readonly"
                               th:value="${invoiceHasLabTest.invoice.doctor.title.title} +${'  '}+${invoiceHasLabTest.invoice.doctor.name}"
                               type="text"/>
                    </div>
                    <label class="control-label col-sm-2">Mobile Number :</label>
                    <div class="col-sm-2">
                        <input class="form-control" readonly="readonly"
                               th:value="${invoiceHasLabTest.invoice.doctor.mobile}"
                               type="text"/>
                    </div>
                    <label class="control-label col-sm-2">Consultation :</label>
                    <div class="col-sm-2">
                        <input class="form-control" readonly="readonly"
                               th:value="${invoiceHasLabTest.invoice.doctor.consultation.name}" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <!-- /.col-sm-2 -->
            <div class="col-sm-10">
                <div class="container-fluid ">
                    <form class="form"
                          th:action="${addStatus == true?'/lab/saveResultPatient':'/lab/authorize/saveAuthorized'}"
                          th:method="POST" th:object="${searchProcess}">
                        <div class="row">
                            <div class="form-group ">
                                <label class="control-label col-sm-4">Lab Reference Number :</label>
                                <div class="col-sm-4">
                                    <input class="form-control" name="id" readonly="readonly"
                                           th:value="${invoiceHasLabTest.number}" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <h3 class="text-left"><b><u><i><span
                                    th:text="${invoiceHasLabTest.getLabTest().getName()}"></span></i></u></b></h3>
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>Test Name</th>
                                    <th>Result</th>
                                    <th>Units</th>
                                    <th th:if="${invoiceHasLabTest.getLabTest().getCode() == 'HM21' || invoiceHasLabTest.getLabTest().getCode() == 'HM45'}">
                                        AB. Count
                                    </th>
                                    <th> Ref. Range</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="labTestParameter : ${invoiceHasLabTest.getLabTest().getLabTestParameters()}">
                                    <th th:classappend="${labTestParameter.parameterHeader.parameterHeader == 'Yes'} ? 'text-center'" th:text="${labTestParameter.name}"></th>
                                    <th th:if="${labTestParameter.parameterHeader.parameterHeader == 'No'}">
                                        <input class="form-control " name="result" placeholder="Enter Result" required th:classappend="${addStatus==false} ? disabled : active" type="text"/>
                                    </th>
                                    <th th:if="${labTestParameter.parameterHeader.parameterHeader == 'Yes'}"></th>
                                    <th th:text="${labTestParameter.unit}"></th>
                                    <th th:if="${invoiceHasLabTest.getLabTest().getCode() == 'HM21' || invoiceHasLabTest.getLabTest().getCode() == 'HM45'}"></th>
                                    <th th:text="${labTestParameter.min} + ${' - '} + ${labTestParameter.max}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="container-fluid">
                            <div class="row" th:if="${invoiceHasLabTest.getLabTest().getDescription() != null}">
                                <span style="font-max-size: 12px;"
                                      th:utext="${invoiceHasLabTest.getLabTest().getDescription()}"></span>
                            </div>
                            <div class="row">
                                <br/>
                                <label class="control-label col-sm-2">Comment :</label>
                                <div class="col-sm-6">
                                    <input class="form-control" name="comment"
                                           th:object="${invoiceHasLabTest.getLabTest()}" type="text"/>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            &nbsp; &nbsp;
                            <div class="container-fluid text-center" th:if="${addStatus==true}">
                                <button class="btn btn-success" type="submit"><span
                                        class="glyphicon glyphicon-ok-sign"></span>&nbsp; &nbsp; Result
                                </button>
                            </div>
                            <div th:if="${addStatus==false}">
                                <div class="text-right col-sm-4">
                                    <a class="btn btn-primary " href="/lab/resultAuthorizeList"> <span
                                            class="glyphicon glyphicon-new-window"> </span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back </b></a>
                                </div>
                                <div class="text-center col-sm-4">
                                    <button class="btn btn-success " type="submit"><span
                                            class="glyphicon glyphicon-ok"> </span><b>&nbsp;Authorized </b></button>
                                </div>
                                <div class="text-left col-sm-4">
                                    <a class="btn btn-danger "
                                       th:href="${'/lab/authorize/rejectAuthorized/'+ invoiceHasLabTest.id }"> <span
                                            class="glyphicon glyphicon-edit"> </span><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reject </b></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" th:replace="fragments/footer"></footer>
<script th:replace="fragments/script"></script>
</body>
</html>